.container {
  margin: 25px 0;
}

.title {
  display: block;
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 25px;
}

.content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}
